<div class="contact-us-form">
    <form>
        <div class="input-group">
            <input value="" class="form-control" type="text" required="required" placeholder="Nume">
            <label class="input-label">Nume</label>
        </div>
        <div class="input-group">
            <input value="" class="form-control" type="text" required="required" placeholder="Email">
            <label class="input-label">Email</label>
        </div>
        <div class="input-group">
            <input value="" class="form-control" type="text" required="required" placeholder="Phone">
            <label class="input-label">Telefon</label>
        </div>
        <div class="input-group textarea">
            <textarea rows="4" cols="50" placeholder="Descriere"></textarea>
            <label class="textarea-label">Descriere</label>
        </div>
        <div class="submit-button">Trimite</div>
    </form>
    <img src="../../../assets/contact/contact.svg">
</div>