<!-- facebook page -->
<div class="facebook-section small-content">
    <div class="section-title">
      <img src="../../../assets/social-media-icons/facebook.svg" /> Facebook Page
    </div>
    <div
      class="fb-page"
      data-href="https://www.facebook.com/solutioniweb/"
      data-tabs="timeline"
      data-width="500"
      data-height=""
      data-small-header="false"
      data-adapt-container-width="false"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/solutioniweb/"
        class="fb-xfbml-parse-ignore"
      >
        <a href="https://www.facebook.com/solutioniweb/"
          >Solution i-Web Creare Site-uri Web si Magazine Online</a
        >
      </blockquote>
    </div>
  </div>