@media only screen and (max-width: 850px) {
    .navbar-container-desktop {
        display:none!important;
    }
    .navbar-container-mobile {
        display: flex!important;
    }
  }
.navbar-container-desktop {
    padding: 10px 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .button {
            color: white;
            font-family: 'Black Ops One', cursive;
            margin-left: 25px;
            cursor:pointer;
        }
    }
}
.navbar-container-mobile {
    display: none;
    position: relative;
    background-color: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    height: 10vh;
    mat-icon {
        color: #ffffff;
        position: absolute;
        left: 25px;
        font-size: 30px;
    }
}
::ng-deep .mat-menu-content {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 90vh;
}
::ng-deep .mat-menu-content button {
    background-color: black;
    color: white;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    height: 16vh;
    font-size: 15px;
}