.navbar-container {
    padding: 10px 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .button {
            color: white;
            font-family: 'Black Ops One', cursive;
            margin-left: 25px;
            cursor:pointer;
        }
    }
}