<!-- desktop carousel banners -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../assets/Bannere/magazinul-tau-banner.svg" alt="First slide" style="height: 90vh">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/Bannere/afacerea-ta-banner.svg" alt="Second slide" style="height: 90vh">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- mobile magazin online banner -->
  <div class="magazin-online-banner-mobile">
    <div class="title">
      Magazin online?
    </div>
    <div class="subtitle">
      AICI ESTE SOLUTIA!
    </div>
    <img class="magazin-online-mobile" src="../../../assets/Bannere/magazinul-tau-banner-mobile.svg" width="100%">
  </div>

  <!-- afacerea ta banner mobile -->
  <div class="afacerea-ta-banner-mobile">
    <div class="title">
      Site prezentare?
    </div>
    <div class="subtitle">
      AICI ESTE SOLUTIA!
    </div>
    <img class="magazin-online-mobile" src="../../../assets/Bannere/afacerea-ta-banner-mobile.svg" width="100%">
  </div>

  <!-- about us section -->
  <div class="about-us-section">
    <div class="banner">
      <img src="../../../assets/Bannere/despre-noi-banner.svg">
    </div>
    <div class="description">
      <div class="title">
        Despre Noi
      </div>
      <div class="subtitle">
        Compania noastra ofera o gama larga de servicii IT, cum ar fi dezvoltarea web, designul web, crearea de site-uri personalizate, magazine online si SEO.
      </div>
    </div>
  </div>

  <!-- testimonials section -->
  <div class="testimonials-section">
    <div class="title">
      Ce parere au clientii nostri despre noi?
    </div>
      <div id="client-testimonial-carousel" class="carousel testimonials-carousel slide client-testimonial-carousel" data-ride="carousel" style="min-height: 200px;" data-pause="true">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item text-center p-4 half" *ngFor="let review of reviews | async, let isFirst = first" [class.active]="isFirst">
            <div class="carousel-content">
              <div class="testimonial-description">
                <div class="text">
                  <span class="material-icons">
                    format_quote
                    </span>
                    {{ review.description }}
                    <span class="material-icons">
                      format_quote
                      </span>
                </div>
              </div>
              <div class="client-container">
                <div class="client-image">
                  <div class="image daniel" [ngStyle]="{'background-image': 'url('+ review.imageURL+')'}"></div>
                </div>
                <div class="testimonial-name">
                  {{ review.reviewedBy }}
                </div>
                <div class="rate">
                  <span class="material-icons yellow">
                    star_rate
                    </span>
                    <span class="material-icons yellow">
                      star_rate
                      </span>
                      <span class="material-icons yellow">
                        star_rate
                        </span>
                        <span class="material-icons yellow">
                          star_rate
                          </span>
                          <span class="material-icons yellow">
                            star_rate
                            </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- presentation-website-offer section -->
  <div class="presentation-website-offer-section">
    <div class="section-title">
      Ce oferim pentru un site web de prezentare?
    </div>
    <div class="offer-cards">
      <div class="offer-card" *ngFor="let presentationWebsiteOffer of presentationWebsiteOffers">
        <div class="title">
          {{ presentationWebsiteOffer.title }}
        </div>
        <img [src]="presentationWebsiteOffer.imagePath" width="100px">
        <div class="description">
          {{ presentationWebsiteOffer.description }}
        </div>
      </div>
    </div>
  </div>

  <!-- online-shop-offer section -->
  <div class="online-shop-offer-section">
    <div class="section-title">
      Ce oferim pentru un magazin online?
    </div>
    <div class="offer-cards">
      <div class="offer-card" *ngFor="let onlineShopOffer of onlineShopOffers">
        <div class="title">
          {{ onlineShopOffer.title }}
        </div>
        <img [src]="onlineShopOffer.imagePath" width="100px">
        <div class="description">
          {{ onlineShopOffer.description }}
        </div>
      </div>
    </div>
  </div>

  <!-- extra services -->
  <div class="extra-services-offer-section">
    <div class="section-title">
    Servicii extra
  </div>
  <div class="offer-cards">
    <div class="offer-card" *ngFor="let extraServicesOffer of extraServicesOffers">
      <div class="title">
        {{ extraServicesOffer.title }}
      </div>
      <img [src]="extraServicesOffer.imagePath" width="100px">
      <div class="description">
        {{ extraServicesOffer.description }}
      </div>
    </div>
  </div>
  </div>