@media only screen and (max-width: 650px) {
  .carousel {
    display: none !important;
  }
  .afacerea-ta-banner-mobile, .magazin-online-banner-mobile {
    display: block !important;
    margin-top: 80px;
  }
  .about-us-section {
    flex-direction: column-reverse!important;
    margin-top: 50px;
    .description {
      width: 100%!important;
      .subtitle {
        font-size: 18px!important;
      }
    }
    .banner {
      width: 100%!important;
      margin-right: unset!important;
    }
  }
  .testimonials-section {
    padding: 0!important;
    margin-top: 80px!important;
    .title {
      font-size: 28px!important;
      padding: 0 50px!important;
    }
    .testimonials-carousel {
      display: block!important;
      .carousel-inner {
        .carousel-item {
          .carousel-content {
            .testimonial-description {
              min-height: 362px!important;
            }
          }
        }
        .half {
          background: linear-gradient(to bottom, #e6fcfa 80%, white 20%)!important;
        }
      }
    }
  }
}

// Banners section mobile
.magazin-online-banner-mobile,
.afacerea-ta-banner-mobile {
  display: none;
  .title {
    font-family: "Black Ops One", cursive;
    font-size: 28px;
    text-align: center;
    padding: 0 50px;
  }
  .subtitle {
    font-family: "Black Ops One", cursive;
    text-align: center;
    font-size: 19px;
  }
}

// About us section
.about-us-section {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .banner {
    width: 50%;
    margin-right: 100px;
  }
  .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-family: "Black Ops One", cursive;
      font-size: 28px;
    }
    .subtitle {
      margin-top: 20px;
      margin-bottom: 50px;
      font-family: "Black Ops One", cursive;
      font-size: 19px;
    }
  }
}

//Testimonials section
.testimonials-section {
  margin-top: 200px;
  padding: 0px 350px;
  .title {
    font-family: "Black Ops One", cursive;
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
  }
  .client-testimonial-carousel {
    .carousel-inner {
      .carousel-item {
        .carousel-content {
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .testimonial-description {
            margin-bottom: 25px;
            font-family: "Contrail One", cursive;
            font-size: 17px;
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
            }
          }
          .client-container {
            .client-image {
              display: flex;
              justify-content: center;
              align-items: center;
              .image {
                background-size: cover;
                background-position: 50% 50%;
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
              .daniel {
                background-image: url("../../../assets/Clients/daniel.jpg");
              }
            }
            .testimonial-name {
              font-weight: bold;
            }
            .rate {
              .yellow {
                color: #fab23d;
              }
            }
          }
        }
      }
      .half {
        background: linear-gradient(to bottom, #AFEDAB 70%, white 30%);
        min-height: 365px;
      }
    }
  }
}
