@media only screen and (max-width: 650px) {
  .carousel {
    display: none !important;
  }
  .afacerea-ta-banner-mobile, .magazin-online-banner-mobile {
    display: block !important;
    margin-top: 80px;
  }
  .what-we-offer-section {
    margin-top: 100px;
    margin-bottom: 100px!important;
    .online-shop-section, .presentation-website-section, .logo-section, .ux-ui-section, .unique-section {
      flex-direction: column-reverse!important;
      margin-top: 100px!important;
      img, .description {
        width: 100%!important;
      }
      .description {
        font-size: 28px!important;
      }
    }
  }
  .about-us-section {
    flex-direction: column-reverse!important;
    margin-top: 50px;
    .description {
      width: 100%!important;
      .subtitle {
        font-size: 18px!important;
      }
    }
    .banner {
      width: 100%!important;
      margin-right: unset!important;
    }
  }
  .testimonials-section {
    padding: 0!important;
    margin-top: 80px!important;
    .title {
      font-size: 28px!important;
      padding: 0 50px!important;
    }
    .testimonials-carousel {
      display: block!important;
      .carousel-inner {
        .carousel-item {
          .carousel-content {
            .testimonial-description {
              min-height: 362px!important;
            }
          }
        }
        .half {
          background: linear-gradient(to bottom, #e6fcfa 80%, white 20%)!important;
        }
      }
    }
  }
  .online-shop-offer-section, .presentation-website-offer-section, .extra-services-offer-section {
    margin-top: 100px!important;
    .section-title {
      margin-bottom: 50px!important;
    }
    .offer-cards {
      .offer-card {
        margin: 50px 0px!important;
      }
    }
  }
  .project-steps-section {
    .title {
    }
    .project-step-card {
      
      .index-title {
        flex-direction: column!important;
        .index {
          margin-right: 0px!important;
          margin-bottom: 25px!important;
        }
        .title {
          font-size: 20px!important;
          text-align: center!important;
        }
      }
      .description {
        font-size: 14px!important;
        text-align: center!important;
      }
    }
  }
}

// Banners section mobile
.magazin-online-banner-mobile,
.afacerea-ta-banner-mobile {
  display: none;
  .title {
    font-family: "Black Ops One", cursive;
    font-size: 28px;
    text-align: center;
    padding: 0 50px;
  }
  .subtitle {
    font-family: "Black Ops One", cursive;
    text-align: center;
    font-size: 19px;
  }
}
// What we offer section
.what-we-offer-section {
  margin-bottom: 200px;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .title {
    font-family: "Black Ops One", cursive;
    text-align: center;
    font-size: 36px;
  }
  .online-shop-section, .presentation-website-section, .logo-section, .ux-ui-section, .unique-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    img {
      width: 50%;
    }
    .description {
      width: 50%;
      font-family: "Black Ops One", cursive;
      font-size: 34px;
      text-align: center;
    }
  }
  .presentation-website-section {
    flex-direction: row-reverse;
  }
  .ux-ui-section {
    flex-direction: row-reverse;
  }
}
// About us section
.about-us-section {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .banner {
    width: 50%;
    margin-right: 100px;
  }
  .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-family: "Black Ops One", cursive;
      font-size: 28px;
    }
    .subtitle {
      margin-top: 20px;
      margin-bottom: 50px;
      font-family: "Black Ops One", cursive;
      font-size: 19px;
    }
  }
}

//Testimonials section
.testimonials-section {
  margin-top: 200px;
  padding: 0px 350px;
  .title {
    font-family: "Black Ops One", cursive;
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
  }
  .client-testimonial-carousel {
    .carousel-inner {
      .carousel-item {
        .carousel-content {
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .testimonial-description {
            margin-bottom: 25px;
            font-family: "Contrail One", cursive;
            font-size: 17px;
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
            }
          }
          .client-container {
            .client-image {
              display: flex;
              justify-content: center;
              align-items: center;
              .image {
                background-size: cover;
                background-position: 50% 50%;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                box-shadow: 0 0 0 3px #e78267;
              }
            }
            .testimonial-name {
              font-weight: bold;
            }
            .rate {
              .yellow {
                color: #fab23d;
              }
            }
          }
        }
      }
      .half {
        background: linear-gradient(to bottom, #AFEDAB 70%, white 30%);
        min-height: 365px;
      }
    }
  }
}

//online-shop-offer-section && presentation-website-offer-section && extra-services-offer-section
.online-shop-offer-section, .presentation-website-offer-section, .extra-services-offer-section {
  margin-top: 200px;
  padding: 0 50px;
  .section-title {
    font-family: "Black Ops One", cursive;
    font-size: 34px;
    text-align: center;
    margin-bottom: 100px;
  }
  .offer-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .offer-card {
      margin: 50px;
      padding: 25px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 335px;
      .title {
        font-family: "Black Ops One", cursive;
        margin-bottom: 25px;
        text-align: center;
      }
      img {
  
      }
      .description {
        font-family: "Black Ops One", cursive;
        margin-top: 25px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

// project steps section
.project-steps-section {
  margin-top: 200px;
  padding: 0 50px;
  .title {
    font-family: "Black Ops One", cursive;
    font-size: 34px;
    text-align: center;
    margin-bottom: 100px;
  }
  .project-step-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    margin-bottom: 100px;
    .index-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      .index {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 25px;
        background: black;
        color: #60DB57;
        font-size: 25px;
        font-family: "Black Ops One", cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
      }
      .title {
        font-family: "Black Ops One", cursive;
        font-size: 25px;
        margin-bottom: 0px;
      }
    }
    .description {
      font-family: "Black Ops One", cursive;
      font-size: 17px;
    }
  }
}