<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="footer">
  © 2018- 2021 <span class="iweb">iWeb</span>. Toate drepturile rezervate.
</div>
<!-- contact nav right -->
<div class="right-nav">
  <a
    href="https://www.facebook.com/Solution-i-Web-Creare-Site-uri-Web-si-Magazine-Online-100853695429432"
    target="_blank"
    ><img src="../../../assets/social-media-icons/facebook.svg" alt="Facebook"
  /></a>
  <a href="mailto:iradev.design@gmail.com" target="_blank"
    ><img src="../../../assets/social-media-icons/gmail.svg" alt="Gmail"
  /></a>
  <a href="https://www.instagram.com/iwebsolution/" target="_blank"
    ><img
      src="../../../assets/social-media-icons/instagram.svg"
      alt="Instagram"
  /></a>
  <a href="https://wa.me/+40739663005" target="_blank"
    ><img src="../../../assets/social-media-icons/whatsapp.svg" alt="Whatsapp"
  /></a>
</div>
