// Right nav
.right-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 99;
    img {
      width: 25px;
      height: 25px;
      margin-bottom: 10px;
      cursor: pointer;
    }
}
.footer {
    background-color: black;
    color: white;
    font-family: "Contrail One", cursive;
    font-size: 17px;
    text-align: center;
    padding: 50px;
    .iweb {
        color: #60DB57;
    }
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}