// Right nav
.right-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 99;
    img {
      width: 25px;
      height: 25px;
      margin-bottom: 10px;
      cursor: pointer;
    }
}
.footer {
    background-color: black;
    color: white;
    font-family: "Contrail One", cursive;
    font-size: 17px;
    text-align: center;
    padding: 50px;
    .iweb {
        color: #60DB57;
    }
}