<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="footer">
  © 2018- 2021 <span class="iweb">iWeb</span>. Toate drepturile rezervate.
</div>
<!-- contact nav right -->
<div class="right-nav">
  <a
    href="https://www.facebook.com/Solution-i-Web-Creare-Site-uri-Web-si-Magazine-Online-100853695429432"
    target="_blank"
    ><img src="../../../assets/social-media-icons/facebook-logo-iweb-solution-creare-magazin-online-creare-site-web-prezentare.svg" alt="Facebook, iWeb-Solution, Creare Magazin Online, Creare Site Web Prezentare"
  /></a>
  <a href="mailto:iradev.design@gmail.com" target="_blank"
    ><img src="../../../assets/social-media-icons/gmail-logo-iweb-solution-creare-magazin-online-creare-site-web-prezentare.svg" alt="Gmail, iWeb-Solution, Creare Magazin Online, Creare Site Web Prezentare"
  /></a>
  <a href="https://www.instagram.com/iwebsolution/" target="_blank"
    ><img
      src="../../../assets/social-media-icons/instagram-logo-iweb-solution-creare-magazin-online-creare-site-web-prezentare.svg" alt="Instagram, iWeb-Solution, Creare Magazin Online, Creare Site Web Prezentare"
  /></a>
  <a href="https://wa.me/+40739663005" target="_blank"
    ><img src="../../../assets/social-media-icons/whatsapp-logo-iweb-solution-creare-magazin-online-creare-site-web-prezentare.svg" alt="Whatsapp, iWeb-Solution, Creare Magazin Online, Creare Site Web Prezentare"
  /></a>
</div>
