<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- contact nav right -->
<div class="right-nav">
    <img src="../../../assets/social-media-icons/facebook.svg" alt="Facebook">
    <a href="mailto:iradev.design@gmail.com"><img src="../../../assets/social-media-icons/gmail.svg" alt="Gmail"></a>
    <img src="../../../assets/social-media-icons/instagram.svg" alt="Instagram">
    <a href="https://wa.me/+40739663005"><img src="../../../assets/social-media-icons/whatsapp.svg" alt="Whatsapp"></a>
  </div>