<!-- about us section -->
<div class="about-us-section small-content">
    <div class="banner">
      <img src="../../../assets/about-us-section/despre-noi-banner.svg">
    </div>
    <div class="description">
      <div class="section-title">
        Despre Noi
      </div>
      <div class="section-description">
        Compania iWeb ofera servicii profesionale in domeniul IT, cum ar fi dezvoltarea web, concept unic in ceea ce priveste design-ul web (UX / UI), crearea de logo-uri, site-uri pentru prezentare, magazine online si nu in ultimul rand ne ocupam de tot ce tine de partea de SEO.
      </div>
    </div>
  </div>