<!-- about us section -->
<div class="about-us-section small-content">
    <div class="banner">
      <img src="../../../assets/about-us-section/despre-noi-banner.svg">
    </div>
    <div class="description">
      <div class="section-title">
        Despre Noi
      </div>
      <div class="section-description">
        Compania noastra ofera o gama larga de servicii IT, cum ar fi dezvoltarea web, designul web, crearea de site-uri personalizate, magazine online si SEO.
      </div>
    </div>
  </div>