@media only screen and (max-width: 650px) {
    .small-content {
      padding: 50px!important;
    }
  .section-title {
    font-size: 28px!important;
  }
  .section-subtitle {
    font-size: 20px!important;
  }
  .section-description {
    font-size: 15px!important;
  }
  .about-us-section {
    flex-direction: column!important;
    .banner {
      width: 100%!important;
      margin-right: 0!important;
      margin-bottom: 50px!important;
    }
    .description {
      width: 100%!important;
    }
  }
}

//small-content
.small-content {
    padding: 100px 50px;
  }
  //section-title
  .section-title {
    font-family: "Black Ops One", cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
  }
  //section-subtitle
  .section-subtitle {
    font-family: "Black Ops One", cursive;
    font-size: 28px;
    text-align: center;
  }
  //section-description
  .section-description {
    font-family: "Black Ops One", cursive;
    font-size: 20px;
    text-align: center;
  }
  // About us section
.about-us-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .banner {
      width: 50%;
      margin-right: 100px;
    }
    .description {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .section-title {
        margin-bottom: 25px;
      }
      .section-description {
      }
    }
  }